.bookslist{
    display: flex;
    flex-direction: column;
    flex:0.81;
    background-color: #fff;
    height: 100vh;
}

@media (max-width: 640px) {                  
    .bookslist {
       flex:1;
    }
 }